.form__container {
  max-width: 800px;
  width: 90%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .form__container {
    flex-direction: column;
  }
}