.form__wrapper {
    max-width: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__title {
    height: 20px;
    font-size: 17px;
}

.form__text {
    min-height: 150px;
    font-size: 17px;
}

.form__submitbtn {
    padding: 5px;
    border-radius: 15px;
    border: none;
}