.note__card {
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    flex: 0 0 30%;
    background-color: lightyellow;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 0px black;
}

.note__container {
    position: relative;
    padding: 20px 20px 30px;
    text-align: left;
    height: 100%;
    box-sizing: border-box;
}

.note__header {
    border-bottom: 1px solid black;
    position: relative;
}

.note__btns {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 5px;
    right: 7px;
}

.note__update_btn {
    border: 1px solid black;
    background-color: #9fbcff;
    box-shadow: 2px 2px 0 black;
}
.note__delete_btn {
    border: 1px solid black;
    background-color: #e29fff;
    box-shadow: 2px 2px 0 black;
}

.note__restore_btn {
    border: 1px solid black;
    background-color: #ff9f9f;
    box-shadow: 2px 2px 0 black;
}

.note__title {
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
    resize: none;
    width: 100%;
}

.note__title:hover {
    transition: .2s;
    background-color: rgb(236, 236, 179);
}

.note__text {
    font-family: 'Archivo', sans-serif;
    font-size: 17px;
    margin: 10px 0;
    padding: 5px;
}

.note__text:hover {
    transition: .2s;
    background-color: rgb(236, 236, 179);
}

@media screen and (max-width: 1000px) {
    .note__card {
        flex: 0 0 45%;
    }
}