.note__card {
    /* display: flex; */
    /* flex-direction: column; */
    flex: 0 0 20%;
    background-color: lightyellow;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 0px black;
}

.note__container {
    position: relative;
    padding: 20px;
    text-align: left;
}

.note__header {
    border-bottom: 1px solid black;
    position: relative;
}

.note__delete_btn {
    position: absolute;
    top: 0;
    right: 5px;
    width: 10px;
    border: none;
    background-color: transparent;
    padding: 0;
    font-weight: 900;

}

.note__title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-overflow: clip;
}

.note__text {
    font-size: 17px;
}