.navbar__container {
  height: 50px;
  padding: 10px 20px;
  max-width: 90%;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 0px black;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.navbar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navbar__logo {
  font-weight: 700;
  font-size: 25px;
}

.navbar__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
}

.navbar__link {
  margin: 0;
  padding: 0;
}